<!DOCTYPE html>
<html>
  <head>
    <title>TestOct</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" rel="stylesheet" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
//<![CDATA[
typeof $().modal == 'function' || document.write(unescape('%3Cscript src="/javascripts/bootstrap-3.3.5.min.js">%3C/script>'))
//]]>
</script>
  </head>

  <body>


<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Devise Demo', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li >
            <a >
              <%= current_user.email %>
            </a>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          </li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

<%= yield :top_content %>

<div class="container">
    <h1><%= yield :header %></h1>
  <%= yield %>
</div>


<!--   <%#= flash[:notice] %>
  <%#= flash[:alert] %>
  <br/>
	<%#= link_to "Logout", destroy_user_session_path, method: :delete if user_signed_in? %> -->
    <%#= yield %>
  </body>
</html>
